sunsun.dev {
    reverse_proxy nextjs:3000
}

www.sunsun.dev {
    redir https://sunsun.dev{uri}
}

api.sunsun.dev {
    header {
        Access-Control-Allow-Origin "https://sunsun.dev"
        Access-Control-Allow-Methods "POST"
        Access-Control-Allow-Headers "Content-Type"
    }
    reverse_proxy gateway:3000
}
